* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

@media (max-width: 920px) {
  html {
    min-height: 100%;
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

:global(body div#root) {
  height: 100%;
}

.container {
  min-height: 73%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px 30px 40px;
}

h2 {
  color: darkblue;
}

form {
  background-color: white;
  width: 25%;
  padding: 30px;
  box-shadow: 0px 0px 8px rgb(124, 122, 122);
}

@media (max-width: 920px) {
  form {
    width: 100%;
  }
}

form label {
  display: block;
  color: darkblue;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.6rem;
  border: 0.5px solid darkblue;
  padding: 1%;
  margin-bottom: 15px;
}

form label > span {
  margin-top: -8px;
  margin-bottom: 3px;
  display: block;
  background-color: white;
  width: max-content;
  padding: 0px 4px;
}

form input,
form select {
  border: 1px solid white;
  width: 98%;
  padding: 0px !important;
}

.buttonIndex {
  background-color: darkblue;
  color: white;
  width: 100%;
  border: none;
  height: 30px;
  cursor: pointer;
}

.address {
  margin-top: 10px;
}

fieldset {
  border: none;
  padding: 0px;
}

legend {
  display: none;
}

.tableSize {
  width: 100%;
}
